@model Network.Models.User
@using Network.HtmlHelpers

@{
    ViewData["Title"] = "Your messages";
}

<h1>@ViewData["Title"]</h1>

<br />
<a asp-area="" asp-controller="Message" asp-action="Write">Write a message</a>
<br />
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="sent-messages-tab" data-bs-toggle="tab" data-bs-target="#sent-messages" type="button" role="tab" aria-controls="sent-messages" aria-selected="true">Sent</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="received-messages-tab" data-bs-toggle="tab" data-bs-target="#received-messages" type="button" role="tab" aria-controls="received-messages" aria-selected="false">Received</button>
    </li>
</ul>
<br />

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="sent-messages" role="tabpanel" aria-labelledby="sent-messages-tab">
        @if(@Model.SentMessages.Count == 0 || @Model.SentMessages == null)
        {
            <h2>No messages from you :c</h2>
        }
        else
        {
            @foreach(var message in Model.SentMessages.OrderByDescending(m => m.Created))
            {
                @MessageHelper.CreateMessage(Html,message,"sent",true)
            }
        }
    </div>
    <div class="tab-pane fade" id="received-messages" role="tabpanel" aria-labelledby="received-messages-tab">
        @if(@Model.ReceivedMessages.Count == 0 || @Model.ReceivedMessages == null)
        {
            <h2>No messages for you :c</h2>
        }
        else
        {
            @foreach(var message in Model.ReceivedMessages.OrderByDescending(m => m.Created))
            {
                @MessageHelper.CreateMessage(Html,message,"received",true)
            }
        }
    </div>
</div>